<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="more.cpp" version="1.0.0.107" targetFramework="Native" />
  <package id="rxcpp" version="2.1.1" targetFramework="Native" />
  <package id="ueye" version="4.61.00.64" targetFramework="Native" />
  <package id="win32.cpp" version="1.0.0.108" targetFramework="Native" />
</packages>